/* Body and Imports */
*,*::after,::before{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
  
  .sec{
    background-color: #6e2422;
    display: block;
    height: 100vh;
    width: 100%;
    color:#ffffff ;
    font-family: 'Fredoka One', cursive;
    text-align: center;
    font-size: 30px;

  }
  .sec:nth-child(1){
    background-color:#6e2422 ;

  }

   .sec:nth-child(2){

   background-color:rgb(10, 99, 10)  ;

   }
   .sec:nth-child(3){
background-color: #222e50;
   }

   .sec:nth-child(4){
background-color:  #B5CA8D;
   }

   .sec:nth-child(5){
    background-color: #422737;
    }
    
    .sec:nth-child(6){
        background-color: rgb(165, 165, 41);
        }

        .sec:nth-child(7){
            background-color: rgb(17, 75, 0);
            }

 html{
scroll-behavior:smooth;
scroll-snap-type:y mandatory;

 }

 section{
scroll-snap-align: start;
}

.parent {
    display: flex;
    align-items: center;
    justify-content: center;
}


  /* Part */


 
  .part 
  {
      height: 100vh;
      width: 100vw;
      scroll-snap-align: center;
  }
  
  
  /* PARTIE 1 */
  .i {
      background-color:#222e50;
      display:flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-position: center;
      background-size: cover;
      padding: 10px 10%;
  }
  
  .i-titre {
      font-size: 4em;
      font-family: 'Fredoka One', cursive;
      transition: 0.1s;
      opacity: 100%;
      text-shadow: 0 0 5px #ffa500, 0 0 15px #ffc400, 0 0 20px #ffd000, 0 0 40px #ffc400, 0 0 60px #ff3c00, 0 0 10px #ffa600, 0 0 98px #ff5e00;
      color: #fff6a9;
  }
  
  .i-titre:hover{
      color: white;
      opacity: 20%;
      text-shadow: none;
  }

.images-images{
    width: 20%;
    height: fit-content;
    border-radius: 50%;
background: #e0e0e0;
box-shadow:  8px#bebebe;
object-fit: contain;
    display:block; 
    margin:auto;
    margin-top: 50px;
    text-align: center;
    
}

.ii{
    background-color:#6e2422;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ii-titre{
    font-size: 4em;
    font-family: 'Fredoka One', Arial, Helvetica, sans-serif;
    color: #ffffff;
}


.texte{

margin-left: 5px;
margin-right: 5px;
}
.btnHaut {
    position: fixed;
    bottom: 0;
    padding: 15px;
    margin: right;
    fill: #ffffff;
    z-index: 1;
}

/* Form styles */
.formu {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #999999;
}
form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
label {
    width: 20%;
    text-align: right;
    margin-right: 10px;
    font-size: 1.2em;
    color: #333333;
    font-weight: bold;
}
input {
    width: 70%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px #999999;
    font-size: 1.2em;
    color: #333333;
    transition: all 0.2s ease-in-out;
}
input:focus {
    outline: none;
    background-color: #f2f2f2;
    box-shadow: 0px 0px 20px #4CAF50;
}
input[type=email] {
    width: 70%;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1.2em;
    box-shadow: 0px 0px 10px #999999;
    transition: all 0.2s ease-in-out;
}
button:hover {
    background-color: #3e8e41;
    box-shadow: 0px 0px 20px #3e8e41;
}
#you{
    width: 100%;
    margin: 10px;
    padding: 20px;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #999999;
}
#message{
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 10px;
    font-size: 1.2em;
    color: #333333;
    font-weight: bold;
}
